<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen</title>
    <link rel="stylesheet" href="./../public/css/kitchen.css">
</head>
<body>
    <main>
        <div class="fridge">
            <div class="bg"></div>
            <div class="fridgeContent">
                <img id="iconIngredients" src="./../public/css/images/ingredients.png" alt="Icon of some ingredients in a bag">
                
                <h1>What ingredients do you have?</h1>
                <form action="">
                    <input type="text" placeholder="Ex: Eggs">
                </form>

                <div class="ingredients">
                    <p class="ingredient">Apples</p>
                    <p class="ingredient">Chocolate</p>
                </div>
            </div>
        </div>

        <div class="results">
            <div class="fetch">
                <h2>Recipes</h2>
                <button id="btnFetch">Fetch Recipes</button>
            </div>
            <hr>
            <div class="recipes">
                <div class="recipe">
                    <img src="./../public/css/images/test.jpg" alt="">
                    <div class="description">
                        <p class="name">Cake</p>
                    </div>
                </div>

                <div class="recipe">
                    <img src="" alt="">
                    <div class="description">
                        <p class="name">Cake</p>
                    </div>
                </div>

                <div class="recipe">
                    <img src="" alt="">
                    <div class="description">
                        <p class="name">Cake</p>
                    </div>
                </div>
                <div class="recipe">
                    <img src="" alt="">
                    <div class="description">
                        <p class="name">Cake</p>
                    </div>
                </div>
                <div class="recipe">
                    <img src="" alt="">
                    <div class="description">
                        <p class="name">Cake</p>
                    </div>
                </div>
                <div class="recipe">
                    <img src="" alt="">
                    <div class="description">
                        <p class="name">Cake</p>
                    </div>
                </div>
                <div class="recipe">
                    <img src="" alt="">
                    <div class="description">
                        <p class="name">Cake</p>
                    </div>
                </div>
                <div class="recipe">
                    <img src="" alt="">
                    <div class="description">
                        <p class="name">Cake</p>
                    </div>
                </div>
                <div class="recipe">
                    <img src="" alt="">
                    <div class="description">
                        <p class="name">Cake</p>
                    </div>
                </div>
                <div class="recipe">
                    <img src="" alt="">
                    <div class="description">
                        <p class="name">Cake</p>
                    </div>
                </div>
                <div class="recipe">
                    <img src="" alt="">
                    <div class="description">
                        <p class="name">Cake</p>
                    </div>
                </div>
                <div class="recipe">
                    <img src="" alt="">
                    <div class="description">
                        <p class="name">Cake</p>
                    </div>
                </div>

            </div>
        </div>
    </main>
</body>
</html>