<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen</title>
    <link rel="stylesheet" href="/css/kitchen.css">
</head>
<body>
    <main>
        <div class="fridge">
            <div class="bg"></div>
            <div class="fridgeContent">
                <% if (message) { %>
                    <p class="message"><%= message %></p>
                <% } %>
                <img id="iconIngredients" src="/css/images/ingredients.png" alt="Icon of some ingredients in a bag">
                
                <h1>What ingredients do you have?</h1>
                <form id="ingredientForm">
                    <input type="text" id="ingredientInput" name="ingredient" placeholder="Ex: Eggs">
                </form>

                <div class="ingredients">
                    <% if (ingredientList && ingredientList.length > 0) { %>
                        <% ingredientList.forEach(function(element) { %>
                            <p class="ingredient"><%= element %></p>
                        <% }) %>
                    <% } else { %>
                        <p>No ingredients found</p>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="results">
            <div class="fetch">
                <h2>Recipes</h2>
                <button id="btnFetch">Fetch Recipes</button>
            </div>
            <hr>
            <div class="recipes">
                <!--Recipes from Spoonacular API here!-->
            </div>
        </div>
    </main>
    <div class="popup invisible">
    </div>
</body>
<script src="/js/kitchen.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>