<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <main>
        <div class="info">
            <h1>Zero Waste App</h1>
            <p>
                Welcome to the Recipe Manager App!<br>
                Search, save, and create recipes with ease.<br>
                Access detailed instructions and manage your favorites, all in one place. Start your cooking journey today!</p>
        </div>
        
        <div class="loginDiv">
            <div id="messageDiv">
                <% if (message) { %>
                    <p id="message"><%= message %></p>
                <% } %>
            </div>
            <h3>User Login</h3>

            <form action="" method="get">
                <div>
                    <ion-icon name="person-circle-outline" class="Icon"></ion-icon>
                    <input type="text" name="username" class="loginInput">
                </div>

                <div>
                    <ion-icon name="lock-closed-outline" class="Icon"></ion-icon>
                    <input type="text" name="password" class="loginInput">
                </div>

                <div class="test">
                    <button type="submit">Login</button>
                </div>

                <div>
                    <p id="sign">Don't have an account? <a href="/register">Sign Up</a></p>
                </div>
            </form>
        </div>
    </main>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>