* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
}

.info {
    background-image: url('./images/bgLanding.jpg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-shadow: rgba(51, 51, 51, 0.3) 0px 3px 8px;
    font-weight: 600;
    text-align: center;
}

h1 {
    font-size: 3.6rem;
    word-spacing: 0.5rem;
    margin-top: 10%;
}

p {
    width: 70%;
    font-size: 1.6rem;
    line-height: 2.3rem;
}

.loginDiv {
    background-color:#FFFFF0;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    justify-content: center;
}

.loginDiv h3 {
    font-size: 1.6rem;
    color: #333333;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    justify-content: center;
}

form div {
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
}

.Icon {
    font-size: 1.6rem;
    fill: #8B4513;
    color: #8B4513;
}

.loginInput {
    border: none;
    border-radius: 2rem;
    background-color: #87CEEB;
    font-size: 1rem;
    padding: 0.6rem 0.8rem;
    width: 45%;
}

button {
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #1384b1;
    transition: background-color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

button:hover {
    background-color: #095472;
}

#sign {
    font-size: 1rem;
}